#red {
    background: purple;
}

#yellow {
    background: yellow;
}

#blue {
    background: blue;
}

body {
    background: green;
}

#white_box {
    background: white;
    padding: 2%;
    margin: 10%;
    position: relative;
    align-content: center;
    text-align: center;
}
