#red {
    display: inline-block;
    background: purple;
}

#yellow {
    display: inline-block;
    background: violet;
}

#blue {
    display: inline-block;
    background: lightblue;
}

body {
    background: green;
}

#white_box {
    background: white;
    padding: 2%;
    margin: 10%;
    position: relative;
    align-content: center;
    text-align: center;
}
